<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
  
  <!--connect to database-->
  <connectionStrings>
    <add name="myConnectionString" connectionString="Data Source=localhost;Initial Catalog=INFT3050Assignment3; Integrated security=true;" />
    <add name="INFT3050Assignment3ConnectionString" connectionString="Data Source=LAPTOP-9MVTRBNQ;Initial Catalog=INFT3050Assignment3;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>
